* {
	margin: 0;
	padding: 0;
}

.menu{
    width: 100%;
    height: 35px;
    background-color:#FDCB6E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 5px;
   
}

.menu ul{
    list-style: none;
}
.menu ul li{
    width: 200px;
    float: left;
}
.menu a{
    text-decoration: none;
    text-align: center; /* nao precisa */
    background-color:#FDCB6E;
    color: #2D3436;
    font-size: 18px;
  

}
h1{
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 250%;
    text-align:center;
   color: #2D3436;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

.formulario{
    align-items: center;
    text-align: center;
    background-color: #E4E4E6; 
    max-width: 60%;
    margin: auto;
}
.principal{
    padding-bottom: 1%;
    padding-top: 1%;

}
input{
    width: 30%;
    padding: 9px;
    margin: 1%;
    border: 1px solid #2D3436;
    background-color: #DFE6E9;
}
textarea{
    width: 400px;
    height: 120px;
    line-height: 20px;
    border: 1px solid #2D3436;
    background-color: #DFE6E9;
}


.escrita{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#2D3436;
    font-size: 25px;
}
.personalizar{
    border:1px solid rgb(223, 95, 127);
	border-radius:4px; /*arredonda */
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight:bold;
	font-size:13px;
	padding: 15px;
	text-decoration:none;
	background-color: rgb(223, 95, 127);
    color:#fff;

}


